@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,400;1,500&display=swap');
*{
  font-family: 'poppins', sans-serif;
 
  
}

button{
  border: 0px solid white;

}




/* header */
.header{
  position: fixed;
  z-index: 999;
  top: 0%;
  color: white;
  background-color: rgba(0, 0, 0, 0.675);
  width:100%;
  height:100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-title{
  width: 40%;
  height: 100%;
  margin: 0;
  padding: 0%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.header-links{
  width: 60%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.header-link-item{
  color: white;
  font-size: 20px;
}

.header-link-item:hover{
  color: white;
  font-size: 20px;
}






/* footer */
.footer{
  width: 100%;
  margin: 0%;
  color: white;
  background-color: black;
}
.list-unstyled a{
  margin-left: -40px;
  color: white;
}







/* carasoul */
.carasoul123{
  height:100vh
}




/* SelectItem */
.SelectItem{
  width: 100%;
  border: 2px solid #b32137;
  /* padding-bottom: 30px; */
}

.SelectItem-Header{
  width: 100%;
  color: white;

  padding: 20px 0;
  background-color: #b32137;
  text-align: center;
}
.SelectItem-Body{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SelectItem-Body select{
  width: 80%;
  height: 40px;
}





/* selectedBox */
.selectedBox{
  width: 100%;
  border: 2px solid #b32137;
}
.selectedBox-Header{
  display: flex;
  padding: 5px 0;
  justify-content: center;
  align-items: center;
  background-color: #b32137;
  color: white;
}

.selectedBox-Details{
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column; 
}
.selectedBox-Details-Row{

  padding: 0 10%;
  color: black;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* headerTExt */

.HeaderText{
  height: fit-content;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HT-Heading{
  padding:20px 0;
  width:100%;
  text-align: center;
}
.HT-Heading h3{
  text-align: center;
text-transform: capitalize;
  padding: 0px 0px 20px 0px;
  font-size: 50px;
  font-weight:bolder;
  color: #b32137;
  line-height: 50px;
}
.HT-Paragraph{
  text-align: center;
  width: 80%;
padding:0 30px;  
}
.HT-Paragraph p{
  font-size: 17px;
}
.HT-Button button{
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color:white;
  background-color: #b32137;
}



/* ImageWithText */
.ImageWithText{
  padding: 50px 0;
  display: flex;
  flex-direction: row;
}
.IT-image{
  width: 50%;
  /* aspect-ratio: 1; */
}
.IT-image img{
  width: 100%;
  /* height: 400px; */
}
.IT-text{
  margin: auto;
  width: 40%;
}




/* features */


.features{
  /* background-color: #cfcfcf; */
  display: flex;
  /* padding: 100px 0; */
  /* padding-top: 100px; */
  flex-direction: column;
  text-align: center;
}


.feature-boxes{
  background-color: #cfcfcf48;
  display: flex;
  min-height: 40vh;
  flex-direction: row;
  padding: 20px 0;
  justify-content: space-around;
  align-items: center;
  
}

.feature-box{
  width: 25%;
  /* background-color: red; */
}

.feature-icon{
  width: 100%;
  display: flex;  
  color: #b32137;
  align-items: center;
  justify-content: center;
}
.feature-boxes h4{
  padding-top: 5px;
  font-weight: bold;
  color: #b32137;
  font-size: 28px;
  font-weight: bold;
  }

.feature-boxes p{
    font-size: 16px;
    }
      
    .btn-feature{
      padding-top: 50px;
      display:flex;
      justify-content: center;
      align-items: center;
    }
.btn-feature button{
  border-radius: 100px;
  width: 200px;
  height: 40px
}
.btn-feature button:hover{
  background-color: rgb(255, 204, 204);
  transition: background-color 6ms ease;
}






/* scholarShipPage */

.scholarship{
  min-height: 100vh;
  padding-top: 150px;
}

.scholarship-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.scholarship-item{
  width: 25%;
  margin: 2px;
}




/* ScholarShipComponent */
.ScholarShipComponent{
  width: 100%;
  background-color: #041e3a85;
  height: 250px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  border: black 1px solid;
  box-shadow: 0px 5px 5px rgb(209, 209, 209);
}
.ScholarShipComponent:hover{
  background-color: #041e3abe;
  color: white;
  text-decoration: none;
}
.ScholarShipComponent h3{
  font-weight: 400;
  font-style: italic;
  font-size: 32px;
  margin: 0;
}
.Scholarshipdetails{
  min-height: 70vh;
}
.ScholarshipItem{
  /* width: 100%; */
  min-height: 100px;
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  /* background-color: #041e3a85; */
}
.ScholarshipItem:hover{
  background-color: #041e3abe;
  text-decoration: none;
}
.ScholarshipItem h3{
  font-size: 24px;
  color: white;
  font-style: italic;
  letter-spacing: 1px;
}
.ScholarShip_Item_element{
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  margin: 10px auto;
}







/* comparision */
.comparision{

  min-height: 75vh;
  /* background-color: #dddddd; */
}

.comparisionHeader{  
  padding-top: 100px;
}

.comparsion-items{
  width: 70%;
  padding: 50px 0 ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

.comparision-item{
  width: 40%;
  /* margin: auto; */
}
.comparision-item select{
  width: 150px;
  height: 40px;
  text-align: center;
}



.comparsion-boxes{
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.compare-Box{
  border-radius: 20px;
  text-align: center;
  color: white;
  padding: 50px 0;
  width: 45%;
  height: fit-content;
  background-color: #041e3a8f;
}
.compare-Box h2{
  font-size: 32px;
  padding: 10px 0;
}
.compare-Box h3{
  font-size: 24px;
  padding: 10px 0;
  font-weight: 400;
}






.login{
  background-image: linear-gradient(#041e3a,#17589c,#041e3a);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-inner{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  color: white;
}






.inputWithLabel{
  display: flex;
  padding: 10px 0;
  flex-direction: row;
  justify-content: space-between;
}
.inputWithLabel h4{
  font-size: 24px;
  margin: 0;
}
.inputWithLabel input{
  width: 250px;
  height: 30px;
}


/* UniversityItem */
.UniversityItem{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}
.UniversityItem_img{
  width: 50%;
  /* aspect-ratio: 1; */
}
.UniversityItem_img img{
  width:  100%;
}
.UniversityItem_text{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* background-color: rebeccapurple; */
  justify-content: center;
}
.UniversityItem_text h6{
  font-size: 12px;
  font-weight: 300;
}

.UniversityItem_text h3{
  text-transform: capitalize;
  font-weight: 800;
  font-size: 18px;
}







.admission{
  width: 100%;
  min-height: 80vh;
}
.admission-title{
  padding-top: 100px;
  
}
.admission-header{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}









.university{
  padding-top: 100px;
 min-height: 72vh; 
}

.university_inner{
  width: 80%;
  padding-top: 10vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.university_inner_left{
  width: 60%;
  
}
.university_inner_right{
  width: 40%;
}
.University_admissions{
  padding:50px;
  padding-left: 10%;
}